.button {
  background: linear-gradient($light-blue, $alt-blue);
  border: $s-size solid white;
  border-radius: 1.2rem;
  box-shadow: 0 $s-size $xs-size 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-size: $alt-size;
  padding: 1rem 0;
  width: 100%;
}