.panel {
  border: $xs-size solid darken($light-blue, 20%);
  border-radius: $s-size;
  margin-bottom: $l-size;
}

.panel__body {
  padding: $m-size;
  &:after {
    clear: both;
    content: "";
    display: table;
    width: 100%;
  }
}

.panel__header {
  background: $light-blue;
  border-bottom: $xs-size solid darken($light-blue, 20%);
  border-top: $xs-size solid white;
  padding: 0 $s-size;
}

.panel__icon {
  background: linear-gradient(white, $light-blue); ;
  border: $s-size double lighten(black, 80%);
  border-radius: $m-size;
  color: $blue;
  float: left;
  font-size: $l-size;
  height: $l-size;
  margin: -$m-size $m-size 0 $m-size;
  padding: $m-size;
  text-align: center;
  width: $l-size;
}

.panel__info {
  float: right;
  width: 20%;
}

.panel__info-dataSum {
  color: $blue;
  font-size: $l-size;
  font-weight: bold;
  margin: $m-size 0 0 0;
  padding: 0;
  text-align: right;
}

.panel__info-dataSum--dollar {
  color: $alt-blue;
  font-size: $m-size;
  vertical-align: super;
}

.panel__info-label {
  color: $alt-blue;
  font-size: $alt-size;
  font-weight: 600;
  margin: 0 0 $l-size 0;
  padding: 0;
  text-align: right;
}

.panel__title {
  color: $blue;
}